/* _sass/_custom.scss */

body { font-size: 14.5px; line-height: 1.55; }
h1 { font-size: 1.9em; }
h2 { font-size: 1.45em; }
h3 { font-size: 1.2em; }
ul li, ol li { margin-bottom: 0.35em; }
.author__urls li { line-height: 1.3; }

#main, .wrap { max-width: 1200px; }
.page__content { max-width: 1000px; margin: 0 auto; }

@include breakpoint($large) {
  .page, .page__content { margin-left: 0 !important; }
}
